[submodule "vimfiles/bundle/pathogen"]
	path = vimfiles/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vimfiles/bundle/vim-colors-solarized"]
	path = vimfiles/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "linked_packages/sparkup"]
	path = linked_packages/sparkup
	url = https://github.com/rstacruz/sparkup
[submodule "vimfiles/bundle/ack"]
	path = vimfiles/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vimfiles/bundle/gnupg"]
	path = vimfiles/bundle/gnupg
	url = https://git.gitorious.org/vim-gnupg/vim-gnupg.git
[submodule "vimfiles/bundle/surround"]
	path = vimfiles/bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule "vimfiles/bundle/puppet"]
	path = vimfiles/bundle/puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "vimfiles/bundle/Command-T"]
	path = vimfiles/bundle/Command-T
	url = https://github.com/wincent/Command-T
[submodule "vimfiles/bundle/syntastic"]
	path = vimfiles/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vimfiles/bundle/nerdcommenter"]
	path = vimfiles/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vimfiles/bundle/vim-ruby"]
	path = vimfiles/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vimfiles/bundle/ultisnips"]
	path = vimfiles/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
